<div class="contain row">
    <div *ngFor="let repository of repo" class="col-lg-3 col-md-3 col-sm-6 m-2 c">
      <div *ngIf="repository.display" id="repos">
        <p class="repository"><strong>Name: {{repo.name}}</strong> </p>
        <p class="repository">Language: {{repo.language}}</p>
        <p class="repository">Forks: {{repo.forks}}</p>
        <p class="repository">Stars: {{repo.stars}}</p>
        <button class="btn btn-info btn-sm repo-link"><a target="_blank" id="repoLink" class="text-white" href={{repo.url}}>View on Github</a></button>
      </div>
    </div>
  </div>
  
  
