<body>
    <div style="text-align:center">
  <h1 align="center" class="desc">Profile Finder for Github</h1>
  <p align="center" id="details">Check out the profile, followers and more
  <br>just by entering a username!</p>
  <br>
  <form>
  <div  id="searchdiv" class="ui action input">
    <input name=name type="text" placeholder="Enter username..." [(ngModel)] = "username" required>
  <button (click)="searchUser()"  class="ui button">Search</button>
  </div>
  </form>
    </div>
  
  
  <div  *ngIf="user">
  <div  *ngIf="user.name !== 'User not found'">
    <div  id="user-details" *ngIf="user.name.length > 0">
      <div id="profile" class="row">
        <img class="ml-0 col-5" src={{user.avatar}} >
        <div class="col-5 text-left">
          <p class="repo">Name: <span appBold>{{user.name}}</span></p>
          <p class="repo">Followers: {{user.followers}}</p>
          <p class="repo">Following: {{user.following}}</p>
          <p class="repo">Repos: {{user.repos}}</p>
          <p class="repo">Bio: {{user.bio}}</p>
          <!-- <p>Created <span appBold>{{user.created_at|dateCount}}</span> days ago</p> -->
          </div>
          <div class="btn-container">
            <button class="btn btn-info " id="repoBtn" (click)="toggleRepos()">View Repos</button>
          </div>
            <div  *ngIf="viewRepo">
         
                <div class="container-fluid" *ngIf='repos'>
                  <div class="row" >
                  <div class="col-md-4" *ngFor='let repo of repos'>
                <div class="card">
                  <div class="card-body" >
                    <h1>Repo Name: {{repo.name}} </h1>
              
                 <p>Description: {{repo.description}}</p>
                  </div>
                </div>
                </div>
                </div>
            </div>
        
              

            </div>
            </div>
          </div>
          </div>
          </div>
          </div>
          
          
        
  
           <!-- <div id="repo">
              <app-repository [repos]="repo"></app-repository>
            </div>  -->
   
  </body>
  
        
          
