/* You can add global styles to this file, and also import other style files */
/* body{
    background-image:url("https://cdn.pixabay.com/photo/2018/05/06/14/00/water-3378639__340.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */